@model List<BG_Application.CustomDTO.SalesPersonMenuPermissionViewModel>
@{
    ViewBag.Title = "_MenuPermissions";
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">@ViewBag.SalesPersonName's menu permission</h5>
            <input type="hidden" id="SalesPersonID" value="@ViewBag.SalesPersonID" />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="button">
                        @foreach (var C in Model)
                        {
                            <div class="col-4 btn btn-icon align-left">
                                <div class="custom-checkbox custom-checkbox-table custom-control font-15">
                                    <input type="checkbox" @(C.IsDisplay ? "checked" : "") value="@C.MenuName" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input sales-chk" id="@C.MenuName.Replace(" ", "")">
                                    <label for="@C.MenuName.Replace(" ", "")" class="custom-control-label">@C.MenuName</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-whitesmoke br">
            <button type="button" class="btn btn-primary" onclick="SaveSalesPersonMenuPermission();">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function SaveSalesPersonMenuPermission() {
        var MenuNames = [];
        $('.sales-chk').each(function () {
            debugger;
            var $this = $(this);
            if ($this.is(':checked')) {
                MenuNames.push($this.val());
            }
        });
           $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("SetMenuPerimission","SalesPerson", new { area = "admin"} )',
            cache: false,
            data: { 'UserID': $("#SalesPersonID").val(), 'MenuNames': MenuNames },
            beforeSend: function () {
                  HoldOn.open();
             },
            complete: function () {
                  HoldOn.close();
            },
            success: function (response) {
                if (response == true) {
                    $("#ModalCenter").modal('hide');
                    swal("Success", "@ViewBag.SalesPersonName's menu permission has been set.", "success");
                }
            },
            error: function (response) {
                  alert(response.responseText);
            }
        });
    }
</script>
