<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <link rel='shortcut icon' type='image/x-icon' href='~/Areas/Admin/assets/img/BG_LOGO.jpeg' />
    @Styles.Render("~/Admin/css")
    <link href="~/Areas/Admin/assets/css/style1.css" rel="stylesheet" />
</head>
<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link notification-toggle nav-link-lg">
                            <i data-feather="bell" class="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <span class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas
												fa-code"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Template update is
                                        available now! <span class="time">
                                            2 Min
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="far
												fa-user"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>You</b> and <b>
                                            Dedik
                                            Sugiharto
                                        </b> are now friends <span class="time">
                                            10 Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-success text-white">
                                        <i class="fas
												fa-check"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>Kusnaedi</b> has
                                        moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">
                                            12
                                            Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-danger text-white">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Low disk space. Let's
                                        clean it! <span class="time">17 Hours Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="fas
												fa-bell"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Welcome to Rudra Infotech
                                        template! <span class="time">Yesterday</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <!-- /Country -->
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/Areas/Admin/assets/img/india.png" class="user-img-radious-style countryImgCss">
                            <span class="d-sm-none d-lg-inline-block countryNameTxt">18:02:21 IST<br /> <span>10 April 2020</span></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello Sarah Smith</div>
                            <a href="profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a> <a href="timeline.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i>
                                Activities
                            </a> <a href="#" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item has-icon text-danger">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            }

                        </div>
                    </li>
                    <!-- //Country -->
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/Areas/Admin/assets/img/user.png"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello Sarah Smith</div>
                            <a href="profile.html" class="dropdown-item has-icon">
                                <i class="far
										fa-user"></i> Profile
                            </a> <a href="timeline.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i>
                                Activities
                            </a> <a href="#" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item has-icon text-danger">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            }
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/admin/dashboard">
                            <img alt="image" src="~/Areas/Admin/assets/img/BG_LOGO.jpeg" class="header-logo" />
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Main</li>
                        <li><a class="nav-link" href="/"><i class="material-icons">home</i><span>Home</span></a></li>
                        @*<li><a class="nav-link" href="stocksearch.html"><i class="material-icons">dashboard</i><span>Dashboard</span></a></li>*@
                        <li><a class="nav-link" href="stocksearch.html"><i class="material-icons">shopping_basket</i><span>Basket</span></a></li>
                        <li><a class="nav-link" href="/inquiry"><i class="material-icons">Inquiry</i><span>Inquiry</span></a></li>
                    </ul>
                </aside>
            </div>
            @* Main content *@
            @RenderBody()
            <footer class="main-footer stocksearch_fotter">
                <div class="footer-left">
                    @*<ul class="stocksearch_footer">
                            <li><i class="fas fa-heart"></i> Favourite Save & Search</li>
                            <li><i class="fas fa-search"></i> Only PSS</li>
                            <li><i class="fas fa-search"></i> Add to Bascate</li>
                            <li id="toastr-4"><i class="fas fa-search"></i> Stock Search</li>
                        </ul>*@
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Admin/JS")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
