@model BG_Application.CustomDTO.ApplicationUserViewModel
@{
    ViewBag.Title = "Custome Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Personal Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="py-4">
                                <p class="clearfix">
                                    <span class="float-left">
                                        Name
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.FirstName @Model.LastName
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mobile
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.Mobile
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Address
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.Address
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mail
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.Email
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        City
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.UserCityName
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        State
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.UserState
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Country
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.UserCountry
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Business Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="py-4">
                                <p class="clearfix">
                                    <span class="float-left">
                                        Name
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.CompanyName
                                    </span>
                                </p>

                                <p class="clearfix">
                                    <span class="float-left">
                                        Address
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.CompanyAddress
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        City
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.CompanyCityName
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        State
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.CompanyStateName
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Country
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.CompanyCountryName
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Zipcode
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.CompanyZipcode
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Reference Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="py-4">
                                <p class="clearfix">
                                    <span class="float-left">
                                        Name
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.RefName
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mobile
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.RefMobile
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Business
                                    </span>
                                    <span class="float-right text-muted">
                                        @Model.RefBusiness
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="buttons mb-3">
                        <a href="#" class="btn btn-primary">Accept</a>
                        <a href="#" class="btn btn-warning">Reject</a>
                        <a href="#" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
