@model List<BG_Application.CustomDTO.ApplicationUserViewModel>
@{
    ViewBag.Title = "Register Customer";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Register Customers</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="register-customer-table" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>City</th>
                                            <th>Company</th>
                                            <th>Company Address</th>
                                            <th>Company City</th>
                                            <th>Contact Person</th>
                                            <th>Reference</th>
                                            <th>Reference Mobile</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var U in Model)
                                        {
                                            <tr>
                                                <td>@U.FirstName @U.LastName</td>
                                                <td>@U.Email</td>
                                                <td>@U.Mobile</td>
                                                <td>@U.UserCityName</td>
                                                <td>@U.CompanyName</td>
                                                <td>@U.CompanyAddress</td>
                                                <td>@U.CompanyCityName</td>
                                                <td>@U.ContactPerson</td>
                                                <td>@U.RefName</td>
                                                <td>@U.RefMobile</td>
                                                <td>
                                                    <a href="/admin/customer/@U.Id" class="btn btn-primary"><i class="fa fa-eye"></i> View</a>
                                                    @if (U.EmailConfirmed)
                                                    {
                                                        <button type="button" class="btn btn-danger" onclick="DeactivateCustomer('@U.Email');">Deactivate</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-primary" onclick="ActivateCustomer('@U.Email');">Activate</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#register-customer-table').DataTable({
                "columnDefs": [
                    { "sortable": false, "targets": [10] }
                ],
                order: [[1, "asc"]], //column indexes is zero based
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

        function DeactivateCustomer(Email) {
            swal({
                title: 'Deactivate Customer',
                text: 'Are you sure deactivate this customer ?',
                icon: 'warning',
                buttons: ['NO', 'YES'],
                dangerMode: true,
            }).then(function (willDelete) {
                if (willDelete) {
                    $.ajax({
                        async: true,
                        type: "Get",
                        url: '@Url.Action("DeactivateCustomer","customer", new { area = "admin"} )',
                        data: { 'Email': Email },
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        complete: function () {
                            $('.loader').hide();
                        },
                        success: function (response) {
                            if (response == true) {
                                 swal({
                                     title: "Success",
                                     text: "Customer has been deactivated",
                                     icon: "success"
                                 }).then(function (willDelete) {
                                    if (willDelete) {
                                       location.reload();
                                    }
                                });
                            } else {
                                swal('Opps! Something want wrong', { icon: 'error' });
                            }
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });
        }

        function ActivateCustomer(Email) {
            swal({
                title: 'Activate Customer',
                text: 'Are you sure activate this customer ?',
                icon: 'warning',
                buttons: ['NO', 'YES'],
                dangerMode: true,
            }).then(function (willDelete) {
                if (willDelete) {
                    $.ajax({
                        async: true,
                        type: "Get",
                        url: '@Url.Action("ActivateCustomer","customer", new { area = "admin"} )',
                        data: { 'Email': Email },
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        complete: function () {
                            $('.loader').hide();
                        },
                        success: function (response) {
                            if (response == true) {
                                swal({
                                    title: "Success",
                                    text: "Customer has been activated",
                                    icon: "success"
                                }).then(function (willDelete) {
                                    if (willDelete) {
                                       location.reload();
                                    }
                                });
                            } else {
                                swal('Opps! Something want wrong', { icon: 'error' });
                            }
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });
        }
    </script>
}