@model BG_Application.CustomDTO.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Main Content -->
<div class="main-content main-content-pb" id="StockGridDiv">
    <section class="section">
        <div class="section-body stocksearch">
            <div class="row sticky-top">
                <div class="col-12 mainScrollHeader">
                    @*<a href="#basicSearch"><div class="searchstockBtn current-active">Basic Search</div></a>
                        <a href="#searchParameters"><div class="searchstockBtn">Search By Parameters</div></a>
                        <a href="#searchInclusion"><div class="searchstockBtn">Search By Inclusion</div></a>
                        <a href="#searchPacket"><div class="searchstockBtn">Search By Packet/List/Certificate No. and Other</div></a>*@
                    <ul>
                        <li><a href="#basicSearch" class="current-active">Basic Search</a></li>
                        <li><a href="#searchParameters">Search By Parameters</a></li>
                        <li><a href="#searchInclusion">Search By Inclusion</a></li>
                        <li><a href="#searchPacket">Search By Packet/List/Certificate No. and Other</a></li>
                    </ul>
                </div>
            </div>
            <div class="row containe_details" id="basicSearch">
                <div class="col-12">
                    <h6 class="title_h6">Shape</h6>
                    <div class="dflex-center select_all_active">All</div>
                    @foreach (var shap in Model.Shape)
                    {
                        <div class="shapeBtn" id="@shap.ShapeCode"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>@shap.ShapeName</span></div>
                    }
                    @*<div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>Round</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CUBR.png"><span>Cusion</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CUMBR.png"><span>Princess</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-EM.png"><span>Emerald</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-TR.png"><span>Asscher</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-MQ.png"><span>Heart</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-OV.png"><span>Pear</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-PR.png"><span>Oval</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-PS.png"><span>Marquise</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-RD.png"><span>L Radiant</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-SQEM.png"><span>Sq Radiant</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-SQRT.png"><span>Baguette</span></div>
                        <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-TA.png"><span>Other</span></div>*@
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">Carat</h6>
                    <div class="row">
                        <div class="col-md-12 col-lg-4 cartInput">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-sm-6 mt-3">
                                        <input id="txtFromCaret" type="text" class="form-control" placeholder="From">
                                    </div>
                                    <div class="form-group col-sm-6 mt-3">
                                        <input id="txtToCaret" type="text" class="form-control" placeholder="To">
                                    </div>
                                    <div class="form-group col-md-12 mt-3 pos-rel">
                                        <input onkeypress='return restrictAlphabets(event)' id="txtMultiSize" type="text" class="form-control" placeholder="Multisize">
                                        @*<div class="plusModal" data-toggle="modal" data-target="#exampleModalCenter1">
                                                <i class="fas fa-plus"></i>
                                            </div>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <form>
                                <div class="form-row">
                                    <div class="form-group priceCaret1 mt-3">
                                        <label>Price</label>
                                    </div>
                                    <div class="form-group priceCaret2 mt-3">
                                        <input id="txtPriceCaretFrom" type="text" class="form-control" placeholder="From">
                                    </div>
                                    <div class="form-group priceCaret3 mt-3">
                                        <input id="txtPriceCaretTo" type="text" class="form-control" placeholder="To">
                                    </div>
                                    <div class="form-group RAPCaret1 mt-3">
                                        <label>RAP Off</label>
                                    </div>
                                    <div class="form-group RAPCaret2 mt-3">
                                        @*<button><i class="fas fa-plus"></i></button>
                                            <button><i class="fas fa-minus"></i></button>*@
                                        <input id="txtRapFrom" type="text" class="form-control" placeholder="From">
                                    </div>
                                    <div class="form-group RAPCaret3 mt-3">
                                        @*<button><i class="fas fa-plus"></i></button>
                                            <button><i class="fas fa-minus"></i></button>*@
                                        <input id="txtRapTo" type="text" class="form-control" placeholder="To">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">COLOR / FANCY COLOR</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mt-3">
                                        <select id="DrdColor" class="form-control">
                                            <option selected value="">Choose...</option>
                                            @foreach (var color in Model.Color)
                                            {
                                                <option value="@color.ColorCode">@color.ColorName</option>
                                            }
                                        </select>
                                    </div>
                                    @*<div class="form-group col-md-6 mt-3">
                                            <select id="inputState" class="form-control">
                                                <option selected>Choose...</option>
                                                @foreach (var fancy_color in Model.FancyColor)
                                                {
                                                    <option value="@fancy_color.FancyColorCode">@fancy_color.FancyColorName</option>
                                                }
                                            </select>
                                        </div>*@
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div class="fancycolorBox">
                                <div class="FCBox_active">All</div>
                                @foreach (var color in Model.Color)
                                {
                                    <div class="FCBox_Fc" id="@color.ColorCode">@color.ColorName</div>
                                }
                                @*<div class="FCBox_Fc">D</div>
                                    <div class="FCBox_Fc">E</div>
                                    <div class="FCBox_Fc">F</div>
                                    <div class="FCBox_Fc">G</div>
                                    <div class="FCBox_Fc">H</div>
                                    <div class="FCBox_Fc">I</div>
                                    <div class="FCBox_Fc">J</div>
                                    <div class="FCBox_Fc">K</div>
                                    <div class="FCBox_Fc">L</div>
                                    <div class="FCBox_Fc">M</div>
                                    <div class="FCBox_Fc">N</div>
                                    <div class="FCBox_Fc">O</div>
                                    <div class="FCBox_Fc">P</div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">CLARITY</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mt-3">
                                        <select id="DrdClarity" class="form-control">
                                            <option selected value="">Choose...</option>
                                            @foreach (var clarity in Model.Clarity)
                                            {
                                                <option value="@clarity.PurityCode">@clarity.PurityName</option>
                                            }
                                        </select>
                                    </div>
                                    @*<div class="form-group col-md-6 mt-3">
                                            <select id="inputState" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>...</option>
                                            </select>
                                        </div>*@
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div class="fancycolorBox">
                                <div class="FCBox_active1">ALL</div>
                                @foreach (var clarity in Model.Clarity)
                                {
                                    <div class="FCBox_Fc1" id="@clarity.PurityCode">@clarity.PurityName</div>
                                }
                                @*<div class="FCBox_Fc1">FL</div>
                                    <div class="FCBox_Fc1">IF</div>
                                    <div class="FCBox_Fc1">VVS1</div>
                                    <div class="FCBox_Fc1">VVS2</div>
                                    <div class="FCBox_Fc1">VS1</div>
                                    <div class="FCBox_Fc1">VS2</div>
                                    <div class="FCBox_Fc1">SI1</div>
                                    <div class="FCBox_Fc1">SI2</div>
                                    <div class="FCBox_Fc1">SI3</div>
                                    <div class="FCBox_Fc1">I1</div>
                                    <div class="FCBox_Fc1">I2</div>
                                    <div class="FCBox_Fc1">I3</div>
                                    <div class="FCBox_Fc1">I4</div>
                                    <div class="FCBox_Fc1">I5</div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-4">
                    <h6 class="title_h6">CUT</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active1">All</div>
                        @foreach (var cut in Model.Cut)
                        {
                            <div class="CSP_box1" id="@cut.CutCode">@cut.CutName</div>
                        }
                        @*<div class="CSP_box1">Id</div>
                            <div class="CSP_box1">Ex</div>
                            <div class="CSP_box1">Vg</div>
                            <div class="CSP_box1">Gd</div>
                            <div class="CSP_box1">Fr</div>
                            <div class="CSP_box1">Pr</div>*@
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-4">
                    <h6 class="title_h6">POLISH</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active2">All</div>
                        @foreach (var polish in Model.Polish)
                        {
                            <div class="CSP_box2" id="@polish.PolishCode">@polish.PolishName</div>
                        }
                        @*<div class="CSP_box2">Id</div>
                            <div class="CSP_box2">Ex</div>
                            <div class="CSP_box2">Vg</div>
                            <div class="CSP_box2">Gd</div>
                            <div class="CSP_box2">Fr</div>
                            <div class="CSP_box2">Pr</div>*@
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-4">
                    <h6 class="title_h6">SYMMETRY</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active3">All</div>
                        @foreach (var symmetry in Model.Symmetry)
                        {
                            <div class="CSP_box3" @symmetry.SymmetryCode>@symmetry.SymmetryName</div>
                        }
                        @*<div class="CSP_box3">Id</div>
                            <div class="CSP_box3">Ex</div>
                            <div class="CSP_box3">Vg</div>
                            <div class="CSP_box3">Gd</div>
                            <div class="CSP_box3">Fr</div>
                            <div class="CSP_box3">Pr</div>*@
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">Lab</h6>
                    <div class="shapeBtn_Lab_Active dflex-center">All</div>
                    @foreach (var Lab in Model.Lab)
                    {
                        <div id="@Lab.CertificateCode" class="shapeBtn_Lab"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>@Lab.CertiificateName</span></div>
                    }
                    @*<div class="shapeBtn_Lab"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>GIA</span></div>
                        <div class="shapeBtn_Lab"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>HRD</span></div>
                        <div class="shapeBtn_Lab"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>IGI</span></div>*@
                </div>
                <div class="kTosymbol mt-4">
                    <h6 class="title_h6">KEY TO SYMBOL</h6>
                    <div class="row">
                        <div class="labSymbol mt-3 customeselect_option">
                            @*<i class="far fa-times-circle fa-Circle-icon"></i>
                                <i class="far fa-check-circle fa-Circle-icon"></i>*@
                            <span>Key to Symbol</span>
                            <select class="test" multiple="multiple" id="DrdKetToDymbol">
                                @foreach (var key_to_symbol in Model.KetToSymbol)
                                {
                                    <option value="@key_to_symbol">@key_to_symbol</option>
                                }
                                @*<optgroup label="Group A">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </optgroup>*@
                            </select>
                        </div>
                    </div>
                </div>
                <div class="kTosymbol mt-4">
                    <h6 class="title_h6">REPORT COMMENTS</h6>
                    <div class="row">
                        <div class="labSymbol mt-3 customeselect_option">
                            @*<i class="far fa-times-circle fa-Circle-icon1"></i>
                                <i class="far fa-check-circle fa-Circle-icon1"></i>*@
                            <span>Report Comments</span>
                            <select class="test" multiple="multiple" id="DrdComments">
                                @foreach (var comments in Model.Comments)
                                {
                                    <option value="@comments">@comments</option>
                                }
                                @*<optgroup label="Group A">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </optgroup>*@
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4 color_shade">
                    <h6 class="title_h6">COLOR SHADE</h6>
                    <div class="customeselect_option mt-3">
                        <select class="test" multiple="multiple" id="DrdColorShade">
                            @foreach (var fancyColor in Model.FancyColor)
                            {
                                <option value="@fancyColor.FancyColorCode">@fancyColor.FancyColorName</option>
                            }
                            @*<optgroup label="Group A">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </optgroup>*@
                        </select>
                    </div>
                    @*<button class="noBGM">No bgm</button>*@
                </div>
                <div class="FluorescenceHearts mt-4">
                    <h6 class="title_h6">Fluorescence</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active4">All</div>
                        <div class="CSP_box4">N</div>
                        <div class="CSP_box4">F</div>
                        <div class="CSP_box4">M</div>
                        <div class="CSP_box4">S</div>
                        <div class="CSP_box4">VH</div>
                    </div>
                </div>
                @*<div class="FluorescenceHearts mt-4">
                        <h6 class="title_h6">Fluorescence Color</h6>
                        <div class="cut-Symmetry-Polish2">
                            <div class="CSP_box_active5">All</div>
                            <div class="CSP_box5">BL</div>
                            <div class="CSP_box5">YL</div>
                            <div class="CSP_box5">WT</div>
                            <div class="CSP_box5">OR</div>
                            <div class="CSP_box5">GR</div>
                            <div class="CSP_box5">RD</div>
                        </div>
                    </div>*@
                <div class="FluorescenceHearts mt-4">
                    <h6 class="title_h6">Hearts & Arrows</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active6">All</div>
                        @foreach (var HA in Model.Hearts_Arrows)
                        {
                            <div id="@HA.HACode" class="CSP_box6">@HA.HAName</div>
                        }
                        @*<div class="CSP_box6">EX</div>
                            <div class="CSP_box6">VG</div>
                            <div class="CSP_box6">Gd</div>
                            <div class="CSP_box6">Fr</div>*@
                    </div>
                </div>
            </div>
            <div class="row containe_details" id="searchParameters">
                <div class="col-12">
                    <h6 class="title_h6">PARAMETERS</h6>
                </div>
                <div class="col-md-10 col-xl-6">
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Diameter</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromDiameter" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToDiameter" type="text" class="form-control" placeholder="To">
                        </div>
                        @*<div class="ParametersCHKBox mt-3">
                                <div class="pretty p-icon p-smooth">
                                    <input type="checkbox">
                                    <div class="state p-success">
                                        <i class="icon fa fa-check"></i>
                                        <label></label>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Ratio</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromRatio" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToRatio" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Total Depth</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromDepth" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToDepth" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Table</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromTable" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToTable" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Length</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromLength" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToLength" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Width</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromWidth" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToWidth" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Giridle</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-xl-6">
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Pavilion Angle</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromPavilionAngle" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToPavilionAngle" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Pavilion Height</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromPavilionHeight" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToPavilionHeight" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Crown Angle</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromCrownAngle" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToCrownAngle" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Crown Height</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromCrownHeight" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToCrownHeight" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Star Length</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromStarLength" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToStarLength" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Lower Half</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtFromLowerHalf" type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input id="txtToLowerHalf" type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Culet</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row containe_details" id="searchInclusion">
                <div class="col-12">
                    <h6 class="title_h6">INCLUSION</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Table Inclusion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active1">ALL</div>
                                <div class="InclusionBox1">Center Clean(T0)</div>
                                <div class="InclusionBox1">Minor(T1)</div>
                                <div class="InclusionBox1">Medium(T2)</div>
                                <div class="InclusionBox1">Major(T3)</div>
                                <div class="InclusionBox1">Heavy(T4)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Type of Inclusion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active2">ALL</div>
                                <div class="InclusionBox2">Very Soft(A)</div>
                                <div class="InclusionBox2">Soft(B)</div>
                                <div class="InclusionBox2">Normal(C)</div>
                                <div class="InclusionBox2">Hard(D)</div>
                                <div class="InclusionBox2">Very Hard(E)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Eye Clean</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active3">ALL</div>
                                <div class="InclusionBox3">Eye Clean(E1)</div>
                                <div class="InclusionBox3">Semi Eye Clean(E2)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">EXTRA FACET - BOW TIE</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Extra Facet on Crown</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active4">ALL</div>
                                <div class="InclusionBox4">None(None)</div>
                                <div class="InclusionBox4">Not Visible(NV)</div>
                                <div class="InclusionBox4">Minor(MN)</div>
                                <div class="InclusionBox4">Medium(MD)</div>
                                <div class="InclusionBox4">Major(MJ)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Extra Facet on Pavilion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active5">ALL</div>
                                <div class="InclusionBox5">None(None)</div>
                                <div class="InclusionBox5">Not Visible(NV)</div>
                                <div class="InclusionBox5">Minor(MN)</div>
                                <div class="InclusionBox5">Medium(MD)</div>
                                <div class="InclusionBox5">Major(MJ)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Bow Tie for fancy shape(Only PS - OV - MQ)</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active6">ALL</div>
                                <div class="InclusionBox6">None(NN)</div>
                                <div class="InclusionBox6">Medium(BT1)</div>
                                <div class="InclusionBox6">Major(BT2)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">BLACK INCLUSION</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Side</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active7">ALL</div>
                                <div class="InclusionBox7">None(NN)</div>
                                <div class="InclusionBox7">Not Visible(B0)</div>
                                <div class="InclusionBox7">Minor(B1)</div>
                                <div class="InclusionBox7">Medium(B2)</div>
                                <div class="InclusionBox7">Major(B3)</div>
                                <div class="InclusionBox7">Heavy(B4)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Center</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active8">ALL</div>
                                <div class="InclusionBox8">None(NN)</div>
                                <div class="InclusionBox8">Not Visible(B0)</div>
                                <div class="InclusionBox8">Minor(B1)</div>
                                <div class="InclusionBox8">Medium(B2)</div>
                                <div class="InclusionBox8">Major(B3)</div>
                                <div class="InclusionBox8">Heavy(B4)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">OPEN INCLUSION</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Table</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active9">ALL</div>
                                <div class="InclusionBox9">None(None)</div>
                                <div class="InclusionBox9">Very Small(O1)</div>
                                <div class="InclusionBox9">Small(O2)</div>
                                <div class="InclusionBox9">Heavy(O3)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Crown</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active10">ALL</div>
                                <div class="InclusionBox10">None(None)</div>
                                <div class="InclusionBox10">Very Small(O1)</div>
                                <div class="InclusionBox10">Small(O2)</div>
                                <div class="InclusionBox10">Heavy(O3)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Pavilion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active11">ALL</div>
                                <div class="InclusionBox11">None(None)</div>
                                <div class="InclusionBox11">Very Small(O1)</div>
                                <div class="InclusionBox11">Small(O2)</div>
                                <div class="InclusionBox11">Heavy(O3)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row containe_details stocksearch-bottom-margin" id="searchPacket">
                <div class="col-12">
                    <h6 class="title_h6">SEARCH BY PACKET/LIST/CERTIFICATE NO. AND OTHER</h6>
                </div>
                <div class="col-md-12 col-lg-12 mt-3">
                    <textarea id="txtPacketSearch" rows="4" class="form-control" placeholder="Enter Number"></textarea>
                    <div class="packet_List_Other">
                        Packet Code
                        <input type="radio" name="searchPacket" value="Packet">
                    </div>
                    <div class="packet_List_Other">
                        Certificate No.
                        <input type="radio" name="searchPacket" value="Certificate">
                    </div>
                    <div class="packet_List_Other">
                        List No.
                        <input type="radio" name="searchPacket" value="List">
                    </div>
                    <div class="packet_List_Other">
                        Memo No.
                        <input type="radio" name="searchPacket" value="Memo">
                    </div>
                </div>
            </div>
            <div class="main-footer stocksearch-footer">
                <div class="footer-left">
                    <ul class="stocksearch_footer">
                        <li><i class="fas fa-heart"></i> Favourite Save & Search</li>
                        <li><i class="fas fa-search"></i> Only PSS</li>
                        <li><i class="fas fa-search"></i> Add to Bascate</li>
                        <li id="toastr-4" onclick="SearchStock();"><i class="fas fa-search"></i> Stock Search</li>
                    </ul>
                </div>
                <div class="footer-right">
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                window.fs_test = $('.test').fSelect();
            });
        })(jQuery);
        //$('.searchstockBtn').click(function () {
        //    if ($(this).hasClass('current-active')) {
        //        $(this).removeClass('current-active');
        //    } else {
        //        $('.searchstockBtn.current-active').removeClass('current-active');
        //        $(this).addClass('current-active');
        //    }
        //});
        $('.mainScrollHeader ul li a').click(function () {
            if ($(this).hasClass('current-active')) {
                $(this).removeClass('current-active');
            } else {
                $('.mainScrollHeader ul li a.current-active').removeClass('current-active');
                $(this).addClass('current-active');
            }
        });

        $(document).ready(function () {
            $(".fa-Circle-icon").click(function () {
                $('.fa-Circle-icon').removeClass('fa-Circle-icon-color');
                $(this).addClass("fa-Circle-icon-color");
            });
            $(".fa-Circle-icon1").click(function () {
                $('.fa-Circle-icon1').removeClass('fa-Circle-icon-color');
                $(this).addClass("fa-Circle-icon-color");
            });
            $(".packet_List_Other").click(function () {
                $(".packet_List_Other").removeClass('PL_other_Active');
                $(this).addClass('PL_other_Active');
            });

            $(".shapeBtn,.FCBox,.CSP_box,.InclusionBox,.shapeBtn_Lab,.FCBox_Fc,.FCBox_Fc1,.CSP_box1,.CSP_box2,.CSP_box3,.CSP_box4,.CSP_box5,.CSP_box6,.InclusionBox1,.InclusionBox2,.InclusionBox3,.InclusionBox4,.InclusionBox5,.InclusionBox6,.InclusionBox7,.InclusionBox8,.InclusionBox9,.InclusionBox10,.InclusionBox11").click(function () {
                $(this).toggleClass("active_blue_bg");
            });

            $(".select_all_active").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('shapeBtn');
                if ($('.select_all_active').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".shapeBtn").click(function () {
                var childElements = document.getElementsByClassName('shapeBtn').length;
                var selectedChildElements = document.getElementsByClassName('shapeBtn active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.select_all_active').addClass("active_blue_bg");
                }
                else {
                    $('.select_all_active').removeClass("active_blue_bg");
                }
            });

            $(".shapeBtn_Lab_Active").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('shapeBtn_Lab');
                if ($('.shapeBtn_Lab_Active').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".shapeBtn_Lab").click(function () {
                var childElements = document.getElementsByClassName('shapeBtn_Lab').length;
                var selectedChildElements = document.getElementsByClassName('shapeBtn_Lab active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.shapeBtn_Lab_Active').addClass("active_blue_bg");
                }
                else {
                    $('.shapeBtn_Lab_Active').removeClass("active_blue_bg");
                }
            });

            $(".FCBox_active").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('FCBox_Fc');
                if ($('.FCBox_active').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".FCBox_Fc").click(function () {
                var childElements = document.getElementsByClassName('FCBox_Fc').length;
                var selectedChildElements = document.getElementsByClassName('FCBox_Fc active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.FCBox_active').addClass("active_blue_bg");
                }
                else {
                    $('.FCBox_active').removeClass("active_blue_bg");
                }
            });

            $(".FCBox_active1").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('FCBox_Fc1');
                if ($('.FCBox_active1').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".FCBox_Fc1").click(function () {
                var childElements = document.getElementsByClassName('FCBox_Fc1').length;
                var selectedChildElements = document.getElementsByClassName('FCBox_Fc1 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.FCBox_active1').addClass("active_blue_bg");
                }
                else {
                    $('.FCBox_active1').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active1").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box1');
                if ($('.CSP_box_active1').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box1").click(function () {
                var childElements = document.getElementsByClassName('CSP_box1').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box1 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active1').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active1').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active2").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box2');
                if ($('.CSP_box_active2').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box2").click(function () {
                var childElements = document.getElementsByClassName('CSP_box2').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box2 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active2').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active2').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active3").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box3');
                if ($('.CSP_box_active3').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box3").click(function () {
                var childElements = document.getElementsByClassName('CSP_box3').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box3 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active3').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active3').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active4").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box4');
                if ($('.CSP_box_active4').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box4").click(function () {
                var childElements = document.getElementsByClassName('CSP_box4').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box4 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active4').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active4').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active5").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box5');
                if ($('.CSP_box_active5').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box5").click(function () {
                var childElements = document.getElementsByClassName('CSP_box5').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box5 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active5').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active5').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active6").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box6');
                if ($('.CSP_box_active6').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box6").click(function () {
                var childElements = document.getElementsByClassName('CSP_box6').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box6 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active6').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active6').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active1").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox1');
                if ($('.InclusionBox_active1').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox1").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox1').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox1 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active1').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active1').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active2").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox2');
                if ($('.InclusionBox_active2').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox2").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox2').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox2 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active2').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active2').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active3").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox3');
                if ($('.InclusionBox_active3').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox3").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox3').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox3 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active3').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active3').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active4").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox4');
                if ($('.InclusionBox_active4').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox4").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox4').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox4 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active4').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active4').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active5").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox5');
                if ($('.InclusionBox_active5').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox5").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox5').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox5 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active5').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active5').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active6").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox6');
                if ($('.InclusionBox_active6').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox6").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox6').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox6 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active6').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active6').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active7").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox7');
                if ($('.InclusionBox_active7').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox7").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox7').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox7 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active7').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active7').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active8").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox8');
                if ($('.InclusionBox_active8').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox8").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox8').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox8 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active8').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active8').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active9").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox9');
                if ($('.InclusionBox_active9').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox9").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox9').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox9 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active9').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active9').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active10").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox10');
                if ($('.InclusionBox_active10').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox10").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox10').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox10 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active10').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active10').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active11").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox11');
                if ($('.InclusionBox_active11').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox11").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox11').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox11 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active11').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active11').removeClass("active_blue_bg");
                }
            });
        });

        $('#txtFromCaret, #txtToCaret, #txtPriceCaretFrom, #txtPriceCaretFrom, #txtRapFrom, #txtRapTo, #txtFromDiameter, #txtToDiameter, #txtFromRatio, #txtToRatio, #txtFromDepth, #txtToDepth, #txtFromTable, #txtToTable, #txtFromLength, #txtToLength, #txtFromWidth, #txtToWidth, #txtFromPavilionAngle, #txtToPavilionAngle, #txtFromPavilionHeight, #txtToPavilionHeight, #txtFromCrownAngle, #txtToCrownAngle, #txtFromCrownHeight, #txtToCrownHeight, #txtFromStarLength, #txtToStarLength, #txtFromLowerHalf, #txtToLowerHalf').keypress(function (event) {
            return isNumber(event, this)
        });
        function restrictAlphabets(e) {
            var x = e.which || e.keycode;
            if ((x >= 48 && x <= 57) || x == 8 ||
                (x >= 35 && x <= 40) || x == 46 || x == 44)
                return true;
            else
                return false;
        }
        // THE SCRIPT THAT CHECKS IF THE KEY PRESSED IS A NUMERIC OR DECIMAL VALUE.
        function isNumber(evt, element) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (
                (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
                (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function SearchStock() {
            var Shape = [];
            $('.shapeBtn').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Shape.push($(this).attr('id'));
            });

            var CaretFrom, CaretTo;
            CaretFrom = $("#txtFromCaret").val().trim();
            CaretTo = $("#txtToCaret").val().trim();

            var PriceFrom, PriceTo;
            PriceFrom = $("#txtPriceCaretFrom").val().trim();
            PriceTo = $("#txtPriceCaretTo").val().trim();

            var RapOffFrom, RapOffTo;
            RapOffFrom = $("#txtRapFrom").val().trim();
            RapOffTo = $("#txtRapTo").val().trim();

            var MultiSize = $("#txtMultiSize").val().trim() != "" ? $("#txtMultiSize").val().trim().split(",") : "";

            var Color = [];
            $("#DrdColor").val() == "" ? [] : Color.push($("#DrdColor").val());
            $('.FCBox_Fc').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Color.push($(this).attr('id'));
            });

            var Clarity = [];
            $("#DrdClarity").val() == "" ? [] : Clarity.push($("#DrdClarity").val());
            $('.FCBox_Fc1').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Clarity.push($(this).attr('id'));
            });

            var Cut = [];
            $('.CSP_box1').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Cut.push($(this).attr('id'));
            });

            var Polish = [];
            $('.CSP_box2').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Polish.push($(this).attr('id'));
            });

            var Symmetry = [];
            $('.CSP_box3').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Symmetry.push($(this).attr('id'));
            });

            var Lab = [];
            $('.shapeBtn_Lab').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Lab.push($(this).attr('id'));
            });

            var KeyToSymbol = $("#DrdKetToDymbol").val();
            var ReportComment = $("#DrdComments").val();
            var ColorShade = $("#DrdColorShade").val();

            var Fluorescence = [];
            $('.CSP_box4').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    Fluorescence.push($(this).attr('id'));
            });

            var HA = [];
            $('.CSP_box6').each(function () {
                if ($(this).hasClass("active_blue_bg"))
                    HA.push($(this).attr('id'));
            });

            var DiameterFrom, DiameterTo;
            DiameterFrom = $("#txtFromDiameter").val().trim();
            DiameterTo = $("#txtToDiameter").val().trim();

            var RatioFrom, RatioTo;
            RatioFrom = $("#txtFromRatio").val().trim();
            RatioTo = $("#txtToRatio").val().trim();

            var DepthFrom, DepthTo;
            DepthFrom = $("#txtFromDepth").val().trim();
            DepthTo = $("#txtToDepth").val().trim();

            var TableFrom, TableTo;
            TableFrom = $("#txtFromTable").val().trim();
            TableTo = $("#txtToTable").val().trim();

            var LengthFrom, LengthTo;
            LengthFrom = $("#txtFromLength").val().trim();
            LengthTo = $("#txtToLength").val().trim();

            var WidthFrom, WidthTo;
            WidthFrom = $("#txtFromWidth").val().trim();
            WidthTo = $("#txtToWidth").val().trim();

            var PavilionAngleFrom, PavilionAngleTo;
            PavilionAngleFrom = $("#txtFromPavilionAngle").val().trim();
            PavilionAngleTo = $("#txtToPavilionAngle").val().trim();

            var PavilionHeightFrom, PavilionHeightTo;
            PavilionHeightFrom = $("#txtFromPavilionHeight").val().trim();
            PavilionHeightTo = $("#txtToPavilionHeight").val().trim();

            var CrownAngleFrom, CrownAngleTo;
            CrownAngleFrom = $("#txtFromCrownAngle").val().trim();
            CrownAngleTo = $("#txtToCrownAngle").val().trim();

            var CrownHeightFrom, CrownHeightTo;
            CrownHeightFrom = $("#txtFromCrownHeight").val().trim();
            CrownHeightTo = $("#txtToCrownHeight").val().trim();

            var StarLengthFrom, StarLengthTo;
            StarLengthFrom = $("#txtFromStarLength").val().trim();
            StarLengthTo = $("#txtToStarLength").val().trim();

            var LowerHalfFrom, LowerHalfTo;
            LowerHalfFrom = $("#txtFromLowerHalf").val().trim();
            LowerHalfTo = $("#txtToLowerHalf").val().trim();

            var SearchArea = $("#txtPacketSearch").val() != "" ? $("#txtPacketSearch").val().split(",") : "";
            var Radio = $("input[name='searchPacket']:checked").val();

            var obj = {
                'Shape': Shape,
                'CaretFrom': CaretFrom,
                'CaretTo': CaretTo,
                'PriceFrom': PriceFrom,
                'PriceTo': PriceTo,
                'MultiSize': MultiSize,
                'Color': Color,
                'Clarity': Clarity,
                'Cut': Cut,
                'Polish': Polish,
                'Symmetry': Symmetry,
                'Lab': Lab,
                'KeyToSymbol': KeyToSymbol,
                'ReportComment': ReportComment,
                'ColorShade': ColorShade,
                'Fluorescence': Fluorescence,
                'HA': HA,
                'DiameterFrom': DiameterFrom,
                'DiameterTo': DiameterTo,
                'RatioFrom': RatioFrom,
                'RatioTo': RatioTo,
                'DepthFrom': DepthFrom,
                'DepthTo': DepthTo,
                'TableFrom': TableFrom,
                'TableTo': TableTo,
                'LengthFrom': LengthFrom,
                'LengthTo': LengthTo,
                'WidthFrom': WidthFrom,
                'WidthTo': WidthTo,
                'PavilionAngleFrom': PavilionAngleFrom,
                'PavilionAngleTo': PavilionAngleTo,
                'PavilionHeightFrom': PavilionHeightFrom,
                'PavilionHeightTo': PavilionHeightTo,
                'CrownAngleFrom': CrownAngleFrom,
                'CrownAngleTo': CrownAngleTo,
                'CrownHeightFrom': CrownHeightFrom,
                'CrownHeightTo': CrownHeightTo,
                'StarLengthFrom': StarLengthFrom,
                'StarLengthTo': StarLengthTo,
                'LowerHalfFrom': LowerHalfFrom,
                'LowerHalfTo': LowerHalfTo,
                'SearchArea': SearchArea,
                'Radio': Radio
            };
            $.ajax({
                url: "/Home/Stock",
                method: "POST",
                data: JSON.stringify(obj),
                contentType: 'application/json',
                beforeSend: function () {
                    HoldOn.open();
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {

                },
                error: function (data) {
                    HoldOn.close();
                }
            });
        }
    </script>
}